.hero {
    position: relative;

    @include centered-flex;
    flex-direction: column;
    min-height: 100vh;

    overflow: hidden;

    &::after {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-image: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.14) 0%,
            rgba(0, 0, 0, 0.5) 100%
        );
    }

    &__video-bg {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    &__content {
        z-index: 1;
    }

    &__title {
        margin-bottom: 20px;

        color: get-color("primary-white");
        text-align: center;
        font-family: "Montserrat", sans-serif;
        @include font-size(700, 100px, 1.22);
    }

    &__subtitle {
		@extend %no-m-b;

        color: get-color("accent");
        text-align: center;
        font-family: "Montserrat", sans-serif;
        @include font-size(700, 16px, 1.25, 0.17em);
    }

    &__mouse {
        position: absolute;
        bottom: 60px;
        @extend %centered-x;
    }
}
