.section-title {
    position: relative;

	display: inline-block;
	margin-bottom: 0;

    color: get-color("primary-title-text");
    white-space: nowrap;
    font-family: "Montserrat", sans-serif;
    @include font-size(700, 60px, 1.25, -0.01em);

    &::after {
		@include underlined(-14px, 0, 60px, 4px);
		@include transition(width);
		transition-duration: 500ms;
    }

    &--small {
        font-size: 48px;
        line-height: 1.56;
    }

	section:hover &::after {
		width: 100%;
	}
}
